<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chương trình điều khiển và giám sát hiệu suất phân loại sản phẩm</title>
    <link rel="icon" href="images/logo/logo.jpg" type="image/x-icon">

    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/screen_control.css">
    <link rel="stylesheet" href="css/screen_giamsat.css">
    <link rel="stylesheet" href="css/screen_canhbao.css">
    <link rel="stylesheet" href="css/screen_checktrangthai.css">
    <link rel="stylesheet" href="css/slidebar.css">
    <link rel="stylesheet" href="css/screen_user.css">

    <script src = "socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src = "js/FC1_Common.js"></script>
    <script src="js/FC2_UserManager.js"></script>
    <script defer src="js/FC3_Quantity.js"></script>
    <script defer src="js/FC4_Check.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
   
    <script>
        var socket = io("127.0.0.1:3000");
    </script>

    <!-- ////////////// CHƯƠNG TRÌNH ĐĂNG NHẬP HỆ THỐNG //////////////  -->
    <div id="div_login">
        <div id="id01" class="modal">
            <form id = "modal-content1" class="modal-content animate">
            <div id = "img_container" class="imgcontainer">
                <img decoding="async" id = "img_avatar" src="images/User/Users.jpg" alt="Avatar" class="avatar">
            </div>

            <div id = "log_container" class="container">
                <label for="uname"><b>Tên đăng nhập hoặc số điện thoại</b></label>
                <input id = "inputuser" type="text" placeholder="Nhập tên đăng nhập hoặc số điện thoại" name="uname" required>

                <label for="psw"><b>Mật khẩu</b></label>
                <input id = "inputpass" type="password" placeholder="Nhập mật khẩu" name="psw" required>

                <button id = "bttlogin1" type="button" onclick="login();">Đăng nhập</button>
                <label>
                <input type="checkbox" checked="checked" id="rememberMe" name="remember"> Ghi nhớ đăng nhập
                </label>
            </div>

            <div id = "login_container" class="container" style="background-color:#f1f1f1">
                <button id = "bttcancle" type="button" onclick="document.getElementById('id01').style.display='none'; logout();" class="cancelbtn">Hủy</button>
                <span id = "psw" class="psw" onclick="document.getElementById('id01').style.display='none'; document.getElementById('fogot_pwd').style.display='block';">Quên mật khẩu?</span>
                <span id="create_acc">Chưa có tài khoản ? <span style="color: green; cursor: pointer;" onclick="document.getElementById('id01').style.display='none'; document.getElementById('create_account').style.display='block';">Tạo tài khoản mới</span></span>
            </div>
            </form>
        </div>
        <!-- Phần quên mật khẩu -->
        <div id="fogot_pwd" class="modal" style="display:none;">
            <form id = "modal-content2" class="modal-content animate">
                <div id = "img_container" class="imgcontainer">
                    <span id = "closebtt" onclick="document.getElementById('id01').style.display='block'; document.getElementById('fogot_pwd').style.display='none';" class="close" title="Close Modal">×</span>
                    <img decoding="async" id = "img_avatar" src="images/User/Users.jpg" alt="Avatar" class="avatar">
                </div>
                <center>
                    <h2>Quên mật khẩu</h2>
                    <p>Số điện thoại của bạn để nhận mã OTP đặt lại mật khẩu</p>
                    <label for="phone">Số điện thoại:</label>
                    <input type="tel" id="phone_forget" name="phone" placeholder="Nhập số điện thoại" required></br>
                    <label for="new_password">Mật khẩu:</label>
                    <input type="password" id="new_password_foget" name="new_password" placeholder="Nhập mật khẩu mới"></br>
                    <label for="new_otp_foget">Mã OTP:</label>
                    <input id="otpInput_forget" placeholder="Nhập mã OTP" />
                    <button id="sendOtpBtn_foget" onclick="sendOtp_forget()">gửi mã OTP</button>
                    <span id="countdown_forget" style="margin-left: 10px;"></span></br>
                    <button type="button" onclick="verifyOtp_forget();">Xác nhận</button>
                </center>
            </form>
        </div>
        <!-- Phần tạo tài khoản mới -->
        <div id="create_account" class="modal" style="display:none;">
            <form id = "modal-content3" class="modal-content animate">
                <div id = "img_container" class="imgcontainer">
                    <span id = "closebtt" onclick="document.getElementById('id01').style.display='block'; document.getElementById('create_account').style.display='none';" class="close" title="Close Modal">×</span>
                    <img decoding="async" id = "img_avatar" src="images/User/Users.jpg" alt="Avatar" class="avatar">
                </div>
                <center>
                    <h2>Tạo tài khoản mới</h2>
                    <form id="create_account_form">
                        <label for="new_phone">Số điện thoại:</label>
                        <input type="tel" id="new_phone" name="new_phone" placeholder="Nhập số điện thoại" required></br>
                        <label for="new_name">Tên đăng nhập:</label>
                        <input type="text" id="new_name" name="new_name" placeholder="Nhập tên đăng nhập" required></br>
                        <label for="new_password">Mật khẩu:</label>
                        <input type="password" id="new_password" name="new_password" placeholder="Nhập mật khẩu"></br>
                        <label for="new_otp">Mã OTP:</label>
                        <input id="otpInput" placeholder="Nhập mã OTP" />
                        <button id="sendOtpBtn" onclick="sendOtp()">gửi mã OTP</button>
                        <span id="countdown" style="margin-left: 10px;"></span></br>
                        <button type="button" onclick="verifyOtp()">Tạo tài khoản</button>
                    </form>
                </center>
            </form>
        </div>
        <!-- Phần đổi mật khẩu -->
        <div id="change_password" class="modal" style="display:none;">
            <form id = "modal-content4" class="modal-content animate">
                <div id = "img_container" class="imgcontainer">
                    <span id = "closebtt" onclick="document.getElementById('change_password').style.display='none';">×</span>
                    <img decoding="async" id = "img_avatar" src="images/User/Users.jpg" alt="Avatar" class="avatar">
                </div>
                <center>
                    <h2>🔐 Đổi mật khẩu</h2>
                    <form id="create_account_form" onsubmit="changepassword(event)">
                        <label for="old_password">Mật khẩu cũ:</label>
                        <input type="password" id="oldPass" placeholder="🔒 Mật khẩu hiện tại" required /></form></br>
                        <label for="new_password">Mật khẩu mới:</label>
                        <input type="password" id="newPass" placeholder="🆕 Mật khẩu mới" required /></br>
                        <label for="reply_password">Xác nhận mật khẩu mới:</label>
                        <input type="password" id="confirmPass" placeholder="✅ Xác nhận mật khẩu mới" required /></br>
                        <button type="submit" onclick="changepassword()">Đổi mật khẩu</button>
                        <div class="note">📌 Đảm bảo mật khẩu đủ mạnh và dễ nhớ!</div>
                    </form>
                </center>
            </form>
        </div>
    </div>

</head>
<!-- Phần thân của website -->
<body>
<!-- ////////////// Code cho slidebar////////////// -->
    <div id = "slidebar">
        <button id="btnchangepass" class="btn" onclick="document.getElementById('change_password').style.display = 'block'";
        >ĐỔI MẬT KHẨU</button>
        <!--Nút đăng nhập/đăng xuất-->
        <button id="bttLogin" class="btn" onclick="
        window.location.reload();
        ">ĐĂNG NHẬP</button>
        <button id="bttLogout" class="btn" onclick="logout();
        ">ĐĂNG XUẤT</button>
        <!--Nút chọn màn hình chính-->
        <button id="btt_Screen_Main" onclick="
            fn_ScreenChange('Screen_Main','Screen_1','Screen_2', 'Screen_3', 'Screen_4');
        ">MÀN HÌNH ĐIỀU KIỂN</button>
        <!--Nút chọn màn hình 1-->
        <button id="btt_Screen_1" onclick="
            fn_ScreenChange('Screen_1','Screen_Main','Screen_2', 'Screen_3', 'Screen_4');
            getDataAndDrawCharts();
        ">MÀN HÌNH GIÁM SÁT</button>
        <!--Nút chọn màn hình 2-->
        <button id="btt_Screen_2" onclick="
            fn_ScreenChange('Screen_2','Screen_Main','Screen_1', 'Screen_3', 'Screen_4'); 
        ">MÀN HÌNH CẢNH BÁO</button>
        <button id="btt_Screen_3" onclick="
            fn_ScreenChange('Screen_3','Screen_Main','Screen_1', 'Screen_2', 'Screen_4');
        ">MÀN HÌNH QUẢN LÍ ĐƠN HÀNG</button>
        <button id="btt_Screen_4" style="display:none" onclick="
            fn_ScreenChange('Screen_4','Screen_Main','Screen_1', 'Screen_2', 'Screen_3'); loadUsers();
        ">MÀN HÌNH QUẢN LÍ NGƯỜI DÙNG</button>
    </div>

<!-- //////////////Code cho màn hình giám sát////////////// -->
    <div id = "Screen_1">
        <p style="float: right;color:rgb(52, 51, 51);">Cập nhật lần cuối: <span id="last_update"></span></p></br>
        <div class="dashboard">
            <!-- Biểu đồ tỷ lệ chia chọn -->
            <div class="card">
                <div class="filter">
                    <label>Biểu đồ tỷ lệ chia chọn hệ thống hôm nay</label>
                </div>
                <div class="chart-container">
                    <canvas id="piechart"></canvas>
                </div>
            </div>

            <!-- Biểu đồ sản lượng đầu cấp -->
            <div class="card">
            <label>Biểu đồ sản lượng đầu cấp hôm nay</label>
            <div class="chart-container">
                <canvas id="columnchart"></canvas>
            </div>
            </div>

            <!-- Lịch sử phân loại hàng -->
            <div class="card" style="grid-column: span 2">
            <div class="filter">
                <label>Lịch sử phân loại hàng</label><br/>
                <input id="check_day" type="radio" name="range" checked /> Theo ngày
                <input id="check_month" type="radio" name="range" /> Theo tháng
                <input id="check_year" type="radio" name="range" /> Theo năm
                &nbsp; Từ <input id="start_date" type="date"/>
                Đến <input id="end_date" type="date"/>
            </div>
            <div class="chart-container">
                <canvas id="historychart" height="230px"></canvas>
            </div>
            </div>
        </div>
    </div>
<!-- //////////////Code cho màn hình cảnh báo////////////// -->
    <div id = "Screen_2">
        <label id="lb_AL_Search_Start">Từ:</label>
        <input id="dtpk_AL_Search_Start" type="datetime-local">
        <label id="lb_AL_Search_End">Đến:</label>
        <input id="dtpk_AL_Search_End" type="datetime-local">
        <button id="btt_AL_Search" class="btn" onclick="fn_Alarm_By_Time();"></i> TÌM KIẾM</button>
        <div id = "div_table_Alarm">
            <table id="table_Alarm" >
                <thead>
                <tr>
                    <th>Thời gian</th>
                    <th>ID cảnh báo</th>
                    <th>Trạng thái</th>
                    <th>nội dung cảnh báo</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
<!-- //////////////Code cho màn hình quản lí đơn hàng ////////////// -->
     <div id="Screen_3">
        <div class="dashboard_2">
            <center class="check_QR">
                <label>Kiểm tra đơn hàng phân loại</label>
                <input id="check_QR" type="text" placeholder="Nhập mã QR..." />
                <button onclick="searchOrder(check_QR.value)">Tìm kiếm</button>
                <p>Mã QR :<span id="qr_number"></span></p>
                <p>Vị trí :<span id="qr_vitri"></span></p>
                <p>Thời gian phân loại:<span id="qr_time"></span></p>
                <p>Trạng thái đơn hàng :<span id="qr_trangthai"></span></p>
            </center>
            <center class="Export_Excel">
                <label>Xuất danh sách phân loại</label>
                <div>
                    Từ <input id="start_date_check" type="date" />
                    Đến <input id="end_date_check" type="date" />
                    <button onclick="fetchTable()">Tra cứu</button>
                    <button id="exportExcel" onclick="exportExcel()">Xuất Excel</button>
                </div>
                <div style="max-height: 580px; overflow-y: auto;">
                    <table id="resultTable">
                        <thead>
                        <tr>
                            <th>Mã QR</th>
                            <th>Vị trí</th>
                            <th>Thời gian phân loại</th>
                            <th>Trạng thái đơn hàng</th>
                        </tr>
                        </thead>
                        <tbody id="resultTable_content"></tbody>
                    </table>
                </div>
            </center>

        </div>
    </div>
<!-- //////////////Code cho màn hình quản lí user////////////// -->
    <div id="Screen_4">
        <h3 style="color: #f1f1f1;"> Xin chào, Admin!</h3>
        <center>
            <h1>Danh sách người dùng trên hệ thống</h1>
            <div style="max-height: 580px; overflow-y: auto;">
                <table id="userTable">
                    <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th>Số điện thoại</th>
                        <th>Mật khẩu</th>
                        <th>Xóa người dùng</th>
                    </tr>
                    </thead>
                    <tbody id="userTableBody"></tbody>
                </table>
            </div>
        </center>
    </div>
<!-- //////////////Code cho màn hình chính////////////// -->
    <div id = "Screen_Main">
        <div class="control_panel">
            <h2>Điều khiển và trạng thái hệ thống</h2>
            <div class="control_panel_content">
                <div class="state_all div_button">
                    <img id="Button_1" class="button" onclick="socket.emit('Client-send-cmd-toggle', 'emergency_stop');">
                    <h4>Nút dừng khẩn cấp</h4>
                </div>
                <div class="cd_hoatdong div_button">
                    <img id = "Button_2" class="button">
                    <h4>Chế độ hoạt động</h4>
                </div>
            </div>
        </div>    

        <img id = "Panel_electric" src="images/Symbol/Panel_electric.png">
        <img id = "Webcam">
        <img id = "Conveyor_1"><img id = "Conveyor_2"><img id = "Conveyor_3"><img id = "Motor" >
        <img id = "Sensor_detech" ><img id = "Sensor_1"><img id = "Sensor_2"><img id = "Sensor_3">
        <img id = "Sensor_4"><img id = "Sensor_5"><img id = "Xilanh_1"><img id = "Xilanh_2">
        <img id = "Xilanh_3"><img id = "Xilanh_4"><img id = "Xilanh_5">
        <img id = "mang_phanloai_1" src="images/Symbol/mang_phanloai.png">
        <img id = "mang_phanloai_2" src="images/Symbol/mang_phanloai.png">
        <img id = "mang_phanloai_3" src="images/Symbol/mang_phanloai.png">
        <img id = "mang_phanloai_4" src="images/Symbol/mang_phanloai.png">
        <img id = "mang_phanloai_5" src="images/Symbol/mang_phanloai.png">
        <img id = "slot_1" src="images/Symbol/slot.png">
        <img id = "slot_2" src="images/Symbol/slot.png">
        <img id = "slot_3" src="images/Symbol/slot.png">
        <img id = "slot_4" src="images/Symbol/slot.png">
        <img id = "slot_5" src="images/Symbol/slot.png">
    </div>
</body>
</html>

